<!DOCTYPE html>
<html>
<head>
  <title>School List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>School List</h1>
    <ul class="list-group">
      <% schools.forEach(function(school) { %>
        <li class="list-group-item">
          <strong>Name:</strong> <%= school.name %><br>
          <strong>Address:</strong> <%= school.address %><br>
          <form id="deleteForm_<%= school.id %>" method="post" action="/api/schools/<%= school.id %>?_method=DELETE">
            <button type="button" class="btn btn-danger" onclick="confirmDelete(<%= school.id %>)">Delete</button>
          </form>
          <a href="/schools/<%= school.id %>/edit" class="btn btn-primary">Edit</a>
        </li>
      <% }); %>
    </ul>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function confirmDelete(schoolId) {
      if (confirm("Are you sure you want to delete this school?")) {
        document.querySelector(`#deleteForm_${schoolId}`).submit();
      }
    }
  </script>
</body>
</html>
