<!DOCTYPE html>
<html>
<head>
  <title>Student List</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
  <%- include('../_navigation') %>

  <div class="container mt-4">
    <h1>Student List </h1>
    <!-- display error message from err parameter err.message-->
    <% if(err) { %>
      <div class="alert alert-danger"><%= err.message %></div>
    <% } %>

    <!-- check student array , if empty , show no students else show the table -->
    <% if(students ==null || students.length === 0) { %>
      <h3>No Students</h3>
    <% }  %>
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(function(student) { %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.mobileNumber %></td>
            <td>
              <a class="btn btn-primary" href="/students/<%= student.id %>">View</a>
              <a class="btn btn-warning" href="/students/edit/<%= student.id %>">Edit</a>
              <a class="btn btn-danger" onclick="deleteStudent('<%= student.id %>')">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script>
   $(document).ready(function() {
    
    });

    function deleteStudent(studentId) {
      var confirmed = confirm("Are you sure you want to delete this student?");

      if (confirmed) {
        $.ajax({
          url: '/api/student/' + studentId,
          method: 'DELETE',
          success: function() {
            window.location.href = '/students';
          },
          error: function(xhr, status, error) {
            alert('Error: ' + error);
          }
        });
      }
    }
  </script>
</body>
</html>
